{
  "printWidth": 0,
  "tabWidth": 0,
  "useTabs": true,
  "semi": false,
  "singleQuote": false,
  "trailingComma": "none",
  "bracketSpacing": false,
  "jsxBracketSameLine": true,
  "arrowParens": "avoid",
  "rangeStart": 0,
  "requirePragma": true,
  "insertPragma": true,
  "proseWrap": "never",
  "htmlWhitespaceSensitivity": "ignore",
  "vueIndentScriptAndStyle": false,
  "endOfLine": "auto"
}